
.header {
    color: #04AA6D;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    font-size: 24px;
    font-weight: bold;
}
.header .user-info {
    display: flex;
    align-items: center;
}
.header .user-info img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.header .user-info .user-name {
    margin-right: 20px;
}
.nav {
    background-color: #04AA6D;
    padding: 10px 0;
    color: white;
}
.nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.active-nav {
    background-color: #0c6b49;
}